[Desktop Entry]
Type=Application
Name={{name}}
GenericName=Game
GenericName[es]=Juego
Comment={{description}}
Exec={{slug}}
Icon={{slug}}
Terminal=false
Categories=Game;
